[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
opentracing = "<3,>=2"
jaeger-client = {editable = true,git = "https://github.com/yurishkuro/jaeger-client-python.git",ref = "d631596415cb549a4e8314cc25d6c53fab710528"}
requests = "==2.22.0"
Flask = "==1.1.1"
Flask-Opentracing = "==1.1.0"

[requires]
python_version = "3"
